<div class='card'>
    <div class='card-header'>
        <h2>Usuario: Edinson Perales</h2>
    </div>
</div>
<div class="salesForm mt-2">
    <table class="table table-bordered">
        <thead class="headSalesForm">
            <tr class="bg-dark">
                <th scope="col">Código</th>
                <th scope="col">Descripción</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio unitario</th>
                <th scope="col">Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1123</th>
                <td>Polo Niño</td>
                <td>1</td>
                <td>50</td>
                <td>50</td>
            </tr>
        </tbody>
    </table>
</div>